.root {
    -fx-base: #272727;
    -fx-background: #272727;
    -fx-border-color: rgb(44, 62, 69);

    -fx-control-inner-background: rgb(41, 56, 62);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    -fx-accent: #FF8C00;

    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

.jfx-list-view {
    -fx-background-color: #272727;
}

.rippler {
    -jfx-rippler-fill: #FF8C00;
}

.jfx-slider > .track {
    -fx-background-color: #603500;
}

.jfx-slider > .thumb {
    -fx-background-color: #ff6c00;
}

.jfx-slider > .colored-track {
    -fx-background-color: #FF8C00;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: #FF8C00;
}

.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

.jfx-button {
    -fx-text-fill: black;
}

.jfx-decorator {
-fx-decorator-color: #272727;
}

.jfx-decorator .jfx-decorator-buttons-container {
-fx-background-color: -fx-decorator-color;

}

.jfx-decorator .resize-border {
-fx-border-color: -fx-decorator-color;
-fx-border-width: 0 8 8 8;
}

.glyph-icon {
    -fx-font-size: 15px;
    -fx-font-family: "FontAwesome";
    -fx-fill: #FF8C00;
}

.root{
    -icons-color: #FF8C00;
    -top-icons-color: #FF8C00;
    -base-icons-color: #FF8C00;
}

.stack-base{
    -fx-fill: -base-icons-color;
}

.stack-top {
    -fx-fill: -top-icons-color;
}

.exit-button{
    -icons-color: gray;
}

.alien-button{
    -icons-color: yellowgreen;
}

.thumbs-up-icon{
    -glyph-name: "THUMBS_UP";
    -glyph-size: 6em;
}

.thumbs-down-icon{
    -glyph-name: "THUMBS_DOWN";
    -glyph-size: 6em;
}

.my-style {
    -glyph-size: 1.1em;
}