.root {
    -fx-base: #272727;
    -fx-background: #272727;
    -fx-border-color: rgb(44, 62, 69);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(41, 56, 62);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

.jfx-popup-container{
    -fx-background-color: #272727;
}

.rippler {
    -jfx-rippler-fill: white;
}

/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: #603500;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: #ff6c00;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: #FF8C00;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #FF8C00;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

/*Flat button example */
.jfx-button {
    -fx-text-fill: black;
}

.jfx-decorator {
-fx-decorator-color: #272727;
}

.jfx-decorator .jfx-decorator-buttons-container {
-fx-background-color: -fx-decorator-color;

}

.jfx-decorator .resize-border {
-fx-border-color: -fx-decorator-color;
-fx-border-width: 0 8 8 8;
}

.glyph-icon { -fx-font-size: 15px; -fx-font-family: "FontAwesome"; }

.root{
    -icons-color: black;
    -top-icons-color: black;
    -base-icons-color: black;
}

.glyph-icon{
    -fx-fill: -icons-color;
}

.stack-base{
    -fx-fill: -base-icons-color;
}

.stack-top{
    -fx-fill: -top-icons-color;
}

.blue-icon{
    -icons-color: blue;
    -fx-fill: linear-gradient(-icons-color 0%, derive(-icons-color, 100%) 30%, derive(red, 30%) 85%);
}

.green-icon{
    -icons-color: green;
    -fx-fill: linear-gradient(-icons-color 0%, derive(-icons-color, 100%) 30%, derive(red, 30%) 85%);
}

.exit-button{
    -icons-color: gray;
}

.alien-button{
    -icons-color: yellowgreen;
}

.thumbs-up-icon{
    -glyph-name: "THUMBS_UP";
    -glyph-size: 6em;
}

.thumbs-down-icon{
    -glyph-name: "THUMBS_DOWN";
    -glyph-size: 6em;
}

.dialog{
    -fx-background-color: #272727;
    -fx-border-color: #FF8C00;
    -fx-text-fill: WHITE;
}

.jfx-list-cell {
    -fx-background-color: #272727;
    -jfx-rippler-fill: white;
}

.jfx-list-view {
    -fx-background-color: #272727;
    -fx-border-color: #202020;
    -jfx-rippler-fill: white;
}

.my-style {
    -glyph-size: 1.1em;
}